.gdoc-brand__img {
    width: 3rem;
    height: 3rem;
}

a.gdoc-markdown__link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a.gdoc-markdown__link:visited {
  color: var(--link-color);
}

li:has(a.gdoc-markdown__link) {
  margin: 10px 0;
}